* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: black;
}

.wrapper {
    height: 100px;
    width: 360px;
    position: relative;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 8px;
    cursor: default;
    animation: animate 2s linear infinite;
}

.wrapper .display,
.wrapper span {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display {
    z-index: 909;
    height: 64px;
    width: 335px;
    background: #1b1b1b;
    border-radius: 6px;
    text-align: center;
}

.display #time {
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(1deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: black;
    animation: animate 1.5s linear infinite;
}